<% provide(:title , 'Aberdeen Apartments') %>

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("Aberdeen-exterior.jpg") %>
        <div class="carousel-caption">
          <h4>Aberdeen Apartments</h4>
          <p></p>
        </div>
      </div>
      <div class="item">
        <%= image_tag ("Aberdeen-living-room.jpg") %>
        <div class="carousel-caption">
          <h4>Aberdeen Apartments</h4>
          <p></p>
        </div>
      </div>
      <div class="item">
        <%= image_tag ("Aberdeen-bedroom.jpg") %>
        <div class="carousel-caption">
          <h4>Aberdeen Apartments</h4>
          <p></p>
        </div>
      </div>
      <div class="item">
        <%= image_tag ("Aberdeen-lounge2.jpg") %>
        <div class="carousel-caption">
          <h4>Aberdeen Apartments</h4>
          <p></p>
        </div>
      </div>
      <div class="item">
        <%= image_tag ("Aberdeen-Kitchen_500.jpg") %>
        <div class="carousel-caption">
          <h4>Aberdeen Apartments</h4>
          <p></p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
  
<div class="left">
		<section> 
			<h3>Dream Home City North Apartments</h3>

				<h5>Dream Home Apartments Aberdeen</h5>

					<p>These modern two bedroom serviced apartments in Aberdeen have 2 bathrooms, a large lounge and dining room and a fully fitted kitchen.</p>

						<p>The bedrooms are fitted with double beds and the master bedroom also has an en suite shower room.
							 The second bedroom is next door to the main bathroom. Each bedroom has fitted wardrobes with plenty of drawer and hanging space.</p>

							<p>The lounge is fitted with comfortable contemporary furnishings together with a television offering a variety of terrestrial and digital programmes.
								 There is also a DVD player so that you can watch films and listen to music while you relax in our Aberdeen serviced apartment.</p> 

								<p>Kitchen has all you will need if you decide to prepare your own cuisine. 
								It contains a dishwasher, washing machine and drier, microwave, refrigerator, freezer, oven and hob, ventilation and storage. 
								All the utensils, crockery, cutlery and glassware are ready and cleaned for your usage.</p>
		</section>
</div>
