<% provide(:title , 'London Apartments') %>

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("canary-wharf-outside-london.jpg") %>
        <div class="carousel-caption">
          <h4>Canary wharf Apartments at London</h4>
          <p></p>
        </div>
      </div>

      <div class="item">
        <%= image_tag ("lanterns-ct-reception-kitchen-2-canary-wharf-london.jpg") %>
        <div class="carousel-caption">
          <h4>Canary wharf Apartments at London</h4>
          <p></p>
        </div>
      </div>

      <div class="item">
        <%= image_tag ("lanterns-ct-1-bed-2-canary-wharf-london.jpg") %>
        <div class="carousel-caption">
          <h4>Canary wharf Apartments at London</h4>
          <p></p>
        </div>
      </div>
      <div class="item">
        <%= image_tag ("lanterns-ct-kitchen-1-canary-wharf-london.jpg") %>
        <div class="carousel-caption">
          <h4>Canary wharf Apartments at London</h4>
          <p></p>
        </div>
      </div>
      <div class="item">
        <%= image_tag ("lanterns-ct-kitchen-2-canary-wharf-london.jpg") %>
        <div class="carousel-caption">
          <h4>Canary wharf Apartments at London</h4>
          <p></p>
        </div>
      </div>
      
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
  

<div class="left">
		<section> 
			<h5>Canary Wharf Apartments</h5>
			<p>London's Canary Wharf is the major business district, one of London's two main financial centres alongside with traditional City of London and contains many of the UK's tallest buildings.</p>
			<p>The location of these desirable serviced aparthotels is perfect for those working in the many banks, business headquarters and media organisations. The area is a designated Enterprise Zone, and host to Barclays, Thomson Reuters, HSBC, Citigroup, Clifford Chance and J.P. Morgan among others.</p>
			<p>Location is also convenient for O2 and the Excel Exhibition Centre.</p>
			<p>South Quay DLR station is only minutes from the apartments and London Underground network can be reached from Canary Wharf Station on the Jubilee line.</p>
			<p>Directly opposite the apartments are various supermarkets and restaurants.</p>
			<p>Apartments also benefit from 24/7 concierge.</p>
			<p>We offer 1 bedroom apartments which are fully fitted to a high standard, housekeeping is provided weekly and internet is complementry with your booking.  Parking is available on request at £15.00 per night.</p>
			
		</section>
</div>
