<% provide(:title , 'Glasgow Apartments') %>

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("Merchant-City-Lounge.jpg") %>
        <div class="carousel-caption">
          <h4>Merchant City Apartments at Glasgow</h4>
          <p></p>
        </div>
      </div>

      <div class="item">
        <%= image_tag ("Merchant-City-Lounge2.jpg") %>
        <div class="carousel-caption">
          <h4>Merchant City Apartments at Glasgow</h4>
          <p></p>
        </div>
      </div>

      <div class="item">
        <%= image_tag ("Merchant-City-Lounge3.jpg") %>
        <div class="carousel-caption">
          <h4>Merchant City Apartments at Glasgow</h4>
          <p></p>
        </div>
      </div>
      <div class="item">
        <%= image_tag ("Merchant-City-Lounge4.jpg") %>
        <div class="carousel-caption">
          <h4>Merchant City Apartments at Glasgow</h4>
          <p></p>
        </div>
      </div>
      <div class="item">
        <%= image_tag ("Merchant-City-Lounge5.jpg") %>
        <div class="carousel-caption">
          <h4>Merchant City Apartments at Glasgow</h4>
          <p></p>
        </div>
      </div>
      
      <div class="item">
        <%= image_tag ("Merchant-City-Bedroom.jpg") %>
        <div class="carousel-caption">
          <h4>Merchant City Apartments at Glasgow</h4>
          <p></p>
        </div>
      </div>
      
      <div class="item">
        <%= image_tag ("Merchant-City-Bedroom-2.jpg") %>
        <div class="carousel-caption">
          <h4>Merchant City Apartments at Glasgow</h4>
          <p></p>
        </div>
      </div>
      
      <div class="item">
        <%= image_tag ("Merchant-City-Bedroom-3.jpg") %>
        <div class="carousel-caption">
          <h4>Merchant City Apartments at Glasgow</h4>
          <p></p>
        </div>
      </div>
      
      <div class="item">
        <%= image_tag ("Merchant-City-Bedroom4.jpg") %>
        <div class="carousel-caption">
          <h4>Merchant City Apartments at Glasgow</h4>
          <p></p>
        </div>
      </div>
      
      <div class="item">
        <%= image_tag ("Merchant-City-Kitchen.jpg") %>
        <div class="carousel-caption">
          <h4>Merchant City Apartments at Glasgow</h4>
          <p></p>
        </div>
      </div>
      
      <div class="item">
        <%= image_tag ("Merchant-City-Kitchen2.jpg") %>
        <div class="carousel-caption">
          <h4>Merchant City Apartments at Glasgow</h4>
          <p></p>
        </div>
      </div>
      
      <div class="item">
        <%= image_tag ("Merchant-City-Kitchen-3.jpg") %>
        <div class="carousel-caption">
          <h4>Merchant City Apartments at Glasgow</h4>
          <p></p>
        </div>
      </div>
      
      <div class="item">
        <%= image_tag ("Merchant-City-Kitchen-4.jpg") %>
        <div class="carousel-caption">
          <h4>Merchant City Apartments at Glasgow</h4>
          <p></p>
        </div>
      </div>
      
      
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
  

<div class="left">
		<section>
			<h3>Dream Home Apartments, Glasgow City Centre</h3>
			<h5>Dream Home Merchant City Apartments</h5>
			<p>The Merchant City has been at the forefront of the city's development from St Mungo who founded Glasgow at the Cathedral, to the eponymous City Merchants' who built the city's prosperity and the leading arts and cultural entreupeners now spearheading the city's current city renaissance. Whether it is culture or eating out, drinking, socialising or shopping the Merchant City is the place to be.</p>
			<p>The Merchant city has seen a resurrection in recent years, with old buildings being converted into flats, pubs and other commercial premises. Our newly refurbished apartments on Ingram Street are perfect for the business person looking for a central location, just yards from Glasgow's George Square.</p>
		</section>
</div>
