<% provide(:title , 'London Apartments') %>

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("bridge-house-vauxhall-london.jpg") %>
        <div class="carousel-caption">
          <h4>Vauxhall Apartments at London</h4>
          <p></p>
        </div>
      </div>

      <div class="item">
        <%= image_tag ("view-from-St-George-Wharf-Pier-2.jpg") %>
        <div class="carousel-caption">
          <h4>Vauxhall Apartments at London</h4>
          <p></p>
        </div>
      </div>

      <div class="item">
        <%= image_tag ("view.jpg") %>
        <div class="carousel-caption">
          <h4>Vauxhall Apartments at London</h4>
          <p></p>
        </div>
      </div>
      <div class="item">
        <%= image_tag ("Livingroom-2-bed.jpg") %>
        <div class="carousel-caption">
          <h4>Vauxhall Apartments at London</h4>
          <p></p>
        </div>
      </div>
      <div class="item">
        <%= image_tag ("bedroom.jpg") %>
        <div class="carousel-caption">
          <h4>Vauxhall Apartments at London</h4>
          <p></p>
        </div>
      </div>
       <div class="item">
        <%= image_tag ("bedroom-5.jpg") %>
        <div class="carousel-caption">
          <h4>Vauxhall Apartments at London</h4>
          <p></p>
        </div>
      </div>
       <div class="item">
        <%= image_tag ("kitchen-2-bed.jpg") %>
        <div class="carousel-caption">
          <h4>Vauxhall Apartments at London</h4>
          <p></p>
        </div>
      </div>
       <div class="item">
        <%= image_tag ("Kitchen2.jpg") %>
        <div class="carousel-caption">
          <h4>Vauxhall Apartments at London</h4>
          <p></p>
        </div>
      </div>
       <div class="item">
        <%= image_tag ("Kitchen-4.jpg") %>
        <div class="carousel-caption">
          <h4>Vauxhall Apartments at London</h4>
          <p></p>
        </div>
      </div>
      
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
  
  <div class="left">
		<section> 
			<h5>Dream Home Vauxhall Apartments</h5>
			<p>Dream Home is proud to present our new apartment in St George Wharf situated in Vauxhall, 
				South Bank, one of London's most central riverside locations.</p>
				<p>Conveniently located next to Vauxhall tube station and minutes journey from Westminster 
					and Embankment this fantastic development boasts 24 hour concierge, resident's gym, 
					doctors' office, dry cleaning as well as a number of shops (Tesco), cafes and eateries.</p>
					<p>With internal gardens and its own access to the embankment with pier these apartments make ideal home from 
						home for both business and leisure travellers alike.</p>
						<p>We offer a choice of 1 and 2 bedroom apartments in the development 
							which are fully fitted to a high standard, housekeeping is provided weekly and internet 
							is complementry with your booking.</p>
							</section>
							</div>
