<% provide(:title , 'Mail Us') %>
<h1>Mail Us</h1>
<div class="row">
	<div class="span6 offset2 hero-unit">

<%= form_for(@mailer) do |f| %>


	<%= render 'shared/error_messagesmailus'%>
	
	<%= f.label :company_name %>
	<%= f.text_field :company_name %>
	
	<%= f.label :contact_name %>
	<%= f.text_field :contact_name %>
	
	<%= f.label :address %>
	<%= f.text_field :address %>
	
	<%= f.label :telephone %>
	<%= f.text_field :telephone %>

	<%= f.label :email %>
	<%= f.text_field :email %>
	
	<%= f.label :description %>
	<%= f.text_area :description %>
	
	<center><%= f.submit "Send my Mail", class: "btn btn-large btn-primary" %></center>
<% end %>
</div>
</div>