<li id="fat-menu" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Profile", user_path(current_user) , title: "Profile"%></li>
	  <li><%= link_to "Settings", edit_user_path(current_user) , title: "Setting"%></li>
	  <li class="divider"></li>
	  <li><%= link_to "Company branchs", '/branchs' , title: "Company Branchs"%></li>
	  <li><%= link_to "Manage users", users_path , title: "Manage Users"%></li>
	  <li class="divider"></li>
	  <li><%= link_to "Sign out", signout_path, method: "delete", title: "Sign Out" %></li>
</li>
